---
import Layout from "../layouts/mainlayout.astro";
import Showcase from "../components/showcase.astro";
import { Image } from "astro:assets";
import peppi from "../images/CV.jpg";
---

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<header class="header">
  <div class="headline">
    <a href="/">
      <h1>Peppi Sundell</h1>
    </a>
  </div>

  <div class="grid grid-cols-4 gap-0">
    <a href="/">
      <div class="navigation" id="home">
        <p>Home</p>
      </div>
    </a>

    <a href="/me">
      <div class="navigation" id="me">
        <p>Me</p>
      </div>
    </a>

    <a href="/code">
      <div class="navigation" id="code">
        <p>Code</p>
      </div>
    </a>

    <a href="/maps">
      <div class="navigation" id="maps">
        <p>Maps</p>
      </div>
    </a>
  </div>
</header>

<Layout>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <Image src={peppi} alt="" />
    <div class="text">
      <p>
        Hello and welcome to my website! I am Peppi Sundell a 22-year old
        engineering student from Espoo. I'm currently studying my third year in
        Aalto University. My major is built enviroment but I'm very enthusiastic
        about coding. I have a minor in computer science and I'm planning on
        transferring to there for my master's degree. I'm currently finishing up
        my bachelor's degree, so I will be working on that next fall.
      </p>
      <br />
      <p>
        In coding I am especially interested in frontend development and UX
        design because I'm a generally creative person. I love to paint, bake
        and do all kinds of crafts. Designing the outlook for this website was
        an exhilarating and captivating process. I tried out multiple different
        designs for my website before landing on a newspaper type look.
      </p>
    </div>
  </div>

  <style>
    body {
      background-color: rgb(230, 230, 230);
    }

    .text {
      text-align: center;
      border: 1px solid rgb(57, 57, 57);
      padding: 50px;
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
    }

    .cv {
      border: 1px solid rgb(57, 57, 57);
      padding: 3px;
    }

    img {
      border: 1.5px solid rgb(57, 57, 57);
    }

    .header {
      background-color: rgb(230, 230, 230);
    }

    .header .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }

    .navigation:hover {
      background-color: rgb(57, 57, 57);
      color: rgb(230, 230, 230);
    }

    .headline {
      text-align: center;
      color: rgb(57, 57, 57);
      font-family: "Times New Roman", Times, serif;
      font-size: 60px;
      padding: 20px;
      border: 1px solid rgb(57, 57, 57);
      transition: 0.3s;
    }

    .navigation {
      border: 1px solid rgb(57, 57, 57);
      text-align: center;
      color: rgb(57, 57, 57);
      font-size: 25px;
      font-family: "Times New Roman", Times, serif;
      transition: 0.3s;
    }

    .headline:hover {
      background-color: rgb(57, 57, 57);
      color: rgb(230, 230, 230);
    }

    #me {
      background-color: rgb(90, 90, 90);
      color: rgb(230, 230, 230);
    }

    #me:hover {
      background-color: rgb(57, 57, 57);
    }
  </style>
</Layout>
