---
import gmail from '../images/gmail.jpg'
import { Image } from 'astro:assets';
---




<footer class="footer">

    <div class="container">
        <nav>
            <ul>
                <li>Contact me at:  <Image src={gmail} alt=""></li>
            </ul>
        </nav>
    </div>

</footer>

<style>
    
    .footer {
        height: 80px;
        background-color: rgb(230, 230, 230);
        border: 1px solid rgb(57, 57, 57);
    }

    .footer .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .footer img {
        height: 30px;
        width: auto;
        vertical-align: middle;
    }

    .footer nav ul {
        display: flex;
    }

    .footer nav ul li {
        padding: 10px;
        color: rgb(57, 57, 57);
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }



</style>