---
import { Image } from "astro:assets";
import code from "../images/bina.jpg";
import aboutMe from "../images/aboutMe.jpg";
import maps from "../images/map-modified.jpg";
export interface Props {
    heading?: string;
}

const { heading = "Peppi Sundell" } = Astro.props as Props;
---

<section class="showcase2">
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <a href="/aboutMe">
            <div class="grid grid-cols-2 gap-2" id="moi">
                <div>
                    <p>More about me</p>
                </div>
                <div class="flex justify-center">
                    <Image class="images" src={aboutMe} alt="" />
                </div>
            </div>
            <a href="/code">
                <div class="grid grid-cols-2 gap-2" id="moi">
                    <div>
                        <p>Coding projects I have done</p>
                    </div>
                    <div class="flex justify-center">
                        <Image class="images" src={code} alt="" />
                    </div>
                </div>

                <a href="/maps">
                    <div class="grid grid-cols-2 gap-2" id="moi">
                        <div>
                            <p>Maps I have made</p>
                        </div>
                        <div class="flex justify-center">
                            <Image class="images" src={maps} alt="" />
                        </div>
                    </div>
                </a>
            </a>

            <style>
                body {
                    background-color: rgb(230, 230, 230);
                }

                .showcase {
                    background-color: rgb(230, 230, 230);
                }

                .showcase2 {
                    background-color: rgb(57, 57, 57);
                }

                .grid {
                    background-color: rgb(230, 230, 230);
                }

                #moi {
                    font-family: "Times New Roman", Times, serif;
                    font-size: 25px;
                    padding: 20px;
                    text-align: center;
                    align-items: center;
                    border: 1px solid rgb(57, 57, 57);
                    transition: 0.3s;
                }

                #moi:hover {
                    background: rgb(57, 57, 57);
                    color: rgb(230, 230, 230);
                    padding: 40px;
                }

                .images {
                    border: 4px double rgb(57, 57, 57);
                    height:;
                }
            </style>
        </a>
    </div>
</section>
